n8n-workflows/Review Decision Processor.json
{
  "name": "Review Decision Processor",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.fields.review_decision}}",
                    "rightValue": "approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e13acd51-0806-461a-b649-65a17049c534"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "af228b5d-620f-4007-a0c4-1c64914d893e",
                    "leftValue": "={{$json.fields.review_decision}}",
                    "rightValue": "corrected",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "72aa574d-6840-4bb3-9301-21d0e89f7932",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "8140764220",
        "text": "=Review completed: APPROVED\n\nQuestion: {{$json.fields.question}}\n\nOriginal Answer: {{$json.fields.answer}}\n\nReviewed By: {{$json.fields.reviewed_by}}\nReviewed At: {{$json.fields.reviewed_at}}\nDecision: {{$json.fields.review_decision}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        -96
      ],
      "id": "0fe2e338-57f7-498e-8486-b95b3efc13da",
      "name": "Send a text message1",
      "webhookId": "a8b87317-88a7-4d54-a57e-961bef3a6da6",
      "credentials": {
        "telegramApi": {
          "id": "fMNmLNcSA6itWvZi",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8140764220",
        "text": "=Review completed: CORRECTED\n\nQuestion: {{$json.fields.question}}\n\nOriginal Answer: {{$json.fields.answer}}\n\nReviewed Answer: {{$json.fields.reviewed_answer}}\n\nReviewer Notes: {{$json.fields.reviewer_notes}}\nReviewed By: {{$json.fields.reviewed_by}}\nReviewed At: {{$json.fields.reviewed_at}}\nDecision: {{$json.fields.review_decision}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        80
      ],
      "id": "04f036be-e28a-4d34-82dc-9fa7e438b24b",
      "name": "Send a text message",
      "webhookId": "42941843-94a9-427c-bc88-18dda9002467",
      "credentials": {
        "telegramApi": {
          "id": "fMNmLNcSA6itWvZi",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "appyp71uujEsHw3fA",
          "mode": "id"
        },
        "tableId": {
          "__rl": true,
          "value": "tbl3o3t2mFJ6y29H2",
          "mode": "id"
        },
        "triggerField": "review_decision_last_modified",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "846fdc23-6cb2-46bb-bab6-309d3556e0ea",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "YPhCw7bKNfDparid",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appyp71uujEsHw3fA",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl3o3t2mFJ6y29H2",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "needs_human_review": false,
            "id": "={{$json.id}}",
            "final_answer": "={{$json.fields.answer}}",
            "confidence": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "record_name",
              "displayName": "record_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "regulations",
              "displayName": "regulations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "answer",
              "displayName": "answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "needs_human_review",
              "displayName": "needs_human_review",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "generated",
                  "value": "generated"
                },
                {
                  "name": "pending_review",
                  "value": "pending_review"
                },
                {
                  "name": "approved",
                  "value": "approved"
                },
                {
                  "name": "corrected",
                  "value": "corrected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_namespaces",
              "displayName": "source_namespaces",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "citations",
              "displayName": "citations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "review_decision",
              "displayName": "review_decision",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "pending",
                  "value": "pending"
                },
                {
                  "name": "approved",
                  "value": "approved"
                },
                {
                  "name": "corrected",
                  "value": "corrected"
                },
                {
                  "name": "rejected",
                  "value": "rejected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed_answer",
              "displayName": "reviewed_answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewer_notes",
              "displayName": "reviewer_notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed_by",
              "displayName": "reviewed_by",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed_at",
              "displayName": "reviewed_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "review_decision_last_modified",
              "displayName": "review_decision_last_modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "final_answer",
              "displayName": "final_answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        448,
        -96
      ],
      "id": "565ddf35-d523-4c90-99da-960a4481d03e",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "YPhCw7bKNfDparid",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appyp71uujEsHw3fA",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl3o3t2mFJ6y29H2",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "needs_human_review": false,
            "id": "={{$json.id}}",
            "final_answer": "={{$json.fields.reviewed_answer}}",
            "confidence": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "record_name",
              "displayName": "record_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "regulations",
              "displayName": "regulations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "answer",
              "displayName": "answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "needs_human_review",
              "displayName": "needs_human_review",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "generated",
                  "value": "generated"
                },
                {
                  "name": "pending_review",
                  "value": "pending_review"
                },
                {
                  "name": "approved",
                  "value": "approved"
                },
                {
                  "name": "corrected",
                  "value": "corrected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_namespaces",
              "displayName": "source_namespaces",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "citations",
              "displayName": "citations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "review_decision",
              "displayName": "review_decision",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "pending",
                  "value": "pending"
                },
                {
                  "name": "approved",
                  "value": "approved"
                },
                {
                  "name": "corrected",
                  "value": "corrected"
                },
                {
                  "name": "rejected",
                  "value": "rejected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed_answer",
              "displayName": "reviewed_answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewer_notes",
              "displayName": "reviewer_notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed_by",
              "displayName": "reviewed_by",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed_at",
              "displayName": "reviewed_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "review_decision_last_modified",
              "displayName": "review_decision_last_modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "final_answer",
              "displayName": "final_answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        480,
        128
      ],
      "id": "a1728f03-6ca9-4ae6-a2db-a056a3bda1c0",
      "name": "Update record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "YPhCw7bKNfDparid",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Update record1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8f0a761d-c21d-4bb0-bf06-f0698da535c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c7ad6aace7b8bd375d81e0b4bbb8e83761fdc6902ae5f4c0fec57fbc1eab776"
  },
  "id": "xhxVMDfSxPZiZOp3",
  "tags": []
}